[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-authentication-plugin=mysql_native_password

default-time-zone=SYSTEM
log_timestamps=SYSTEM

[client]
default-character-set=utf8mb4
protocol=TCP